{% extends 'baseclubs.html' %}
{% block title %}
    Title
{% endblock title %}
{% block body %}
<section>
    <div class="card text-white bg-dark mb-3" style="max-width: 100%;">
        <div class="card-header">
           For more Information
      </div>
        <div class="card-body">
          <h5 class="card-title">visit these links :</h5>
          <p class="card-text">
          <a href="http://scriptink.herokuapp.com/"></a>
      </p>
        </div>
      </div>
      
      <a href="http://scriptink.herokuapp.com/"><button type="button" class="btn btn-danger">website</button></a><br>
      <br>
      <a href="https://www.instagram.com/scriptink_official/"><button type="button" class="btn btn-primary">Instagram</button></a>
</section>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
{% endblock body %}